<!-- templates/user_login.html -->
{% extends "_base.html" %}


<!-- Main content block is start from here -->
{% block content %}

<form method="post" class="max-w-lg md:mx-auto mx-5 mt-20 md:mt-10" novalidate>
    <h1 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-2xl lg:text-3xl dark:text-white">Login to JobPortal</h1>
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group mb-2">
            <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white" for="id_{{ field.name }}" class="custom-label">{{ field.label }}</label>
            {{ field }}
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <p class="block mb-2 text-sm text-red-600 dark:text-red-500">{{ error }}!</p>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <div class="flex justify-between">
        <p class="my-1">Don't have an account? <a href="" class="underline text-blue-400">register</a></p>
        <a href="" class="underline text-blue-400">forgot password</a>
    </div>
    <button type="submit" class="w-full text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Login</button>
</form>
{% endblock content %}