<!-- templates/profile.html -->
{% extends "_base.html" %}
{% load static %}

{% block content %}
<div class="bg-green-100 mt-5 w-screen dark:bg-black">
    {% if form %}
        <form class="max-w-lg lg:mx-auto mx-5 pt-5 pb-5 lg:pb-0 relative" method="post" novalidate  enctype="multipart/form-data">
            <div class="absolute right-5">
                <img class="rounded-full w-10 h-10 imageContainer" src="{% if request.user.avatar %} {{ request.user.avatar.url }} {% else %} {% static 'images/unknown-user.png' %} {% endif %}" alt="{{ request.user.username }}">
            </div>
            <h1 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-2xl lg:text-3xl dark:text-white">Update your profile</h1>
            {% csrf_token %}
                {% for field in form %}
                    <div class="mb-2">
                        <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white" for="id_{{ field.name }}" class="custom-label">{{ field.label }}</label>
                        {{ field}}
                    </div>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="block mb-2 text-sm text-red-600 dark:text-red-500">{{ error }}!</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            <button type="submit" class=" mt-2 w-full text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Update</button>
        </form>
    {% endif %}
</div>

<script>
    document.getElementById('id_avatar').addEventListener('change', function() {
        const file = this.files[0];
    
        if (file) {
            const reader = new FileReader();
    
            reader.onload = function(e) {
                const image = document.querySelector('.imageContainer');
                image.src = e.target.result;
                image.style.display = 'block';
            };
    
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock content %}
