<!-- templates/tasks-details.html -->
{% extends "_base.html" %}
{% load static %}

{% block content %}
{% if task %}
<div class="m-5 dark:text-white">
    <div class="flex justify-between">
        <h2 class="text-5xl italic text-blue-600 font-medium">{{ task.title }}</h2>
        <div class="flex gap-2 items-center">
            <button data-modal-target="editTask-modal" data-modal-toggle="editTask-modal">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 bg-yellow-300 rounded-md p-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>              
            </button>

            <button data-modal-target="delete-modal" data-modal-toggle="delete-modal" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 bg-red-500 rounded-md p-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m6 4.125 2.25 2.25m0 0 2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                </svg>                  
            </button>
            {% comment %} Delete confirmation modal start {% endcomment %}
            <div id="delete-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="delete-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                        <div class="p-4 md:p-5 text-center">
                            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this task</h3>
                            <a  href="{% url 'DeleteTaskView' task.id %}" data-modal-hide="delete-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                                Yes, I'm sure
                            </a>
                            <button data-modal-hide="delete-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No, cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} Delete confirmation modal end {% endcomment %}
        </div>

        <!-- editTask modal -->
        <div id="editTask-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            Edit this task
                        </h3>
                        <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="editTask-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-4 md:p-5">
                        <form method="post" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            {% for field in task_form %}
                                <div class="form-group mb-2">
                                    <label class="mb-1 text-sm font-medium text-gray-900 dark:text-white" for="id_{{ field.name }}" class="custom-label">{{ field.label }}</label>
                                    {{ field }} <br>
                                </div>
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p class="block mb-2 text-sm text-red-600 dark:text-red-500">{{ error }}!</p>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            {{ image_formset.management_form }}

                            {% for form in image_formset %}
                                <div class="mb-2">
                                {{ form.image.errors }}
                                <label for="{{ form.image.id_for_label }}">Image:</label>
                                {{ form.image }}
                                {% if form.instance.image %}
                                    <img class="w-10" src="{{ form.instance.image.url }}" alt="Task Image">
                                {% endif %}
                                <!-- Hidden field for form deletion -->
                                {% if form.instance.id %}
                                    <input type="hidden" name="{{ form.prefix }}-id" value="{{ form.instance.id }}">
                                {% endif %}
                                {% if form.instance.image %}
                                    <input type="checkbox" name="{{ form.prefix }}-DELETE" id="{{ form.prefix }}-DELETE">
                                    <label for="{{ form.prefix }}-DELETE">Delete</label>
                                {% endif %}
                                </div>
                            {% endfor %}

                            <button type="submit" class="w-full text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <!-- editTask modal -->
    </div>
    <p class="text-sm my-3">{{ task.description|linebreaksbr }}</p>
    <div class="flex justify-between">
        <span class="text-sm font-medium">due date: {{ task.due_date }}</span>
        <div class="text-lime-600 dark:text-[#ffe500] uppercase font-medium">STATUS: {% if task.is_completed %} <span >Complete</span> {% else %} Not-complete {% endif %}</div>
    </div>
    <span class="text-sm font-medium text-blue-600 dark:text-[#ffe500]">Priority: {{ task.priority }}</span>


    <div class="grid gap-4 w-[50%] mt-5">
        {% if task.images.first.image %}
        <div>
            <a href="{{ task.images.first.image.url }}" target="_blank"><img class="h-[50vh] min-w-full object-cover rounded-lg" src="{{ task.images.first.image.url }}" alt="{{ task.title }}-image"></a>
        </div>
        {% else %}
        <div class="relative">
            <a href="{% static 'images/not-available.jpg' %}" target="_blank"><img class="h-[50vh] min-w-full object-cover rounded-lg" src="{% static 'images/not-available.jpg' %}" alt="{{ task.title }}-image"></a>
            <span class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-white font-bold text-3xl ">Not available Yet</span>
        </div>
        {% endif %}
        <div class="grid grid-cols-5 gap-4">
            {% for image in task.images.all %}
                {% if not forloop.first %}
                <div>
                    <a href="{{ image.image.url }}" target="_blank"><img class="h-[8vw] max-w-full object-cover rounded-lg" src="{{ image.image.url }}" alt="{{ task.title }}-image"></a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}